## Lists

Create a list, called "Numbers". Let it contain the numbers 10, 25, 40, and 50.

In [18]:
numbers = [10 , 25 , 40 , 50]
numbers

[10, 25, 40, 50]

Print the second element from the list.

In [22]:
numbers[1]

25

Print the 0th element.

In [19]:
numbers[0]

10

Print the third-to-last element using a minus sign in the brackets.

In [7]:
numbers[-2:]

[40, 50]

Substitute the number 10 with the number 15.

In [24]:
numbers[0] = 10

In [25]:
numbers

[10, 25, 40, 50]

Delete the number 25 from the Numbers list.

In [26]:
del numbers[1]

In [27]:
numbers

[10, 40, 50]